<p id="notice"><%= notice %></p>

<h1>Lists</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="list-index">
    <%= render "list_index", lists: @lists %>
  </tbody>
</table>

<br>

<%= link_to 'New List', "#", data: { reflex: "click->List#new" } %>
<div id="list-form">
</div>
